.theme-info .updating-message::before,
.theme-info .updated-message::before,
.theme-install.updating-message::before {
	font: normal 18px/1 dashicons;
	margin-right: 6px;
	vertical-align: text-bottom;
}

.theme-info .updating-message:before,
.theme-install.updating-message:before {
	color: #d54e21;
	content: "\f463";
	-webkit-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear;
}

.theme-install.updating-message:before {
	color: #fff;
}

.theme-info .updated-message::before {
	color: #79ba49;
	content: '\f147';
}

.plugin-update-tr .update-message.update-error-message:before {
	content: "\f158";
}

.theme-install-php .theme .notice-error {
	display: block;
	left: 0;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
}

.button.installing::before {
	-webkit-animation: rotation 2s infinite linear;
	color: #d54e21;
	content: '\f463';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}

.button.installed::before {
	color: #79ba49;
	content: '\f147';
	display: inline-block;
	font: normal 20px/1 'dashicons';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
	margin: 0 8px 0 -2px;
	vertical-align: top;
}

li.bulk-plugin-actions .button {
	position: absolute;
	right: 320px;
	bottom: 12px;
}

.bulk-plugin-selection-mode ul.filter-links li,
.bulk-plugin-selection-mode .plugin-action-buttons,
.bulk-plugin-selection-mode .wp-filter .search-form.search-plugins,
.bulk-plugin-selection-mode .spinner {
	display: none;
}

/* Hiding the search field collapses the filter bar, so adding a min height */
.wp-filter {
	min-height: 54px;
}

.bulk-plugin-selection-mode ul.filter-links li.bulk-plugin-action-cancel,
.bulk-plugin-selection-mode ul.filter-links li.bulk-plugin-action-upgrade-install {
	display: inline-block;
}

.filter-links li.bulk-plugin-action-cancel,
.filter-links li.bulk-plugin-action-upgrade-install {
	display: none;
	padding-top: 10px;
	padding-right: 10px;
}

.bulk-plugin-selection-mode .plugin-card {
	border-width: 3px;
}
.bulk-plugin-selection-mode .plugin-card.plugin-selected {
	border-color: #0073aa;
}
.plugin-bulk-action-label {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	color: #fff;
	background-color: #999;
}

.bulk-plugin-selection-mode .plugin-card.plugin-selected .plugin-bulk-action-label {
	background-color: #0073aa;

}

.bulk-plugin-selection-mode .plugin-card .plugin-bulk-action-label {
	display: inline-block;
}

#wp-progress-placeholder .progress-details {
	display:none;
}

.progress-hide-details {
	display: none;
}

.show-details .progress-hide-details,
#wp-progress-placeholder.show-details .progress-details {
	display: inline-block;
}

.show-details .progress-show-details {
	display: none;
}